:root{
	--background-color: rgb(24 24 27);
}

html{
	height: 100%;
}

body{
	background-color: var(--background-color);
	color: white;
	font-family: Inter, sans-serif;
}

div:has(> #note-history-list) {
	background: rgb(40, 40, 47);
	border-radius: 10px;
}

table{
	border-radius: 10px;
	background: rgb(28, 28, 34);
	overflow: hidden;
}

td{
	padding: 8px 8px;
}

th:first-child{
	background: rgb(40, 40, 47);
	padding: 0 8px;
	color: #1DA8FF;
	font-style: italic;
	
}

tr:first-child th{
	padding: 8px 0;
	background: rgb(40, 40, 47);
}